.monaco-editor .monaco-editor-background {
    border-left: 1px solid #d1d1d1
}

.monaco-workbench .part.sidebar > .title {
    background-color: #e0e0e066;
    border-bottom: 1px solid #d1d1d1
}

.debug-watch .expression {
    font-family: SF Mono !important;
    font-size: 12px !important
}

.debug-variables .expression {
    font-family: SF Mono !important;
    font-size: 12px !important
}

.debug-call-stack .expression {
    font-family: SF Mono !important;
    font-size: 12px !important
}

.monaco-editor .lines-content .core-guide-indent.lvl-0 {
    display: none !important
}

.minimap.slider-always {
    border-left: 1px solid #d1d1d1
}

.monaco-pane-view .pane > .pane-header > .title {
	text-transform: none !important;
}

.monaco-workbench .pane-composite-part > .title > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item,
.monaco-workbench .pane-composite-part > .header-or-footer > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item {
    text-transform: none !important;
}
